td {
    text-align: center;
    vertical-align: middle;
}

.addWebsite {
    display: flex;
    justify-content: center;
}

.generate {
    display: flex;
    justify-content: center;
}

#container {
    background-color: brown;
}